div {
    background-color:chocolate;
    border-style:solid; 
    border-color:green; 
    border-radius: 10px; 
    border-width: 10px;
    height: 200px;
    text-align: left;
    }
    
    body {
        background-color:#66CC29;
    }
    
    .shadow-text {
        text-shadow: gray 3px 3px
    }
    
    .font-color {
        color:aqua
    }